In [5]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Veenadharini\Downloads\tweets.csv')
df.head()

,Unnamed: 0,User ID,Tweet Created At,Tweet Likes,Retweets,Tweet Description
0,0,CORSAIR,2022-12-05 17:30:11+00:00,116,16,How well do you know your CORSAIR products? ðŸ”Ž ...
1,1,CORSAIR,2022-12-05 17:10:03+00:00,1,0,@peduarte Hey there! If you still need assista...
2,2,CORSAIR,2022-12-05 17:09:29+00:00,0,0,@CammieRacing Oh no! Have you had the chance t...
3,3,CORSAIR,2022-12-05 16:15:20+00:00,236,20,Brighten up your week with this beauty ðŸ¥°\n\n[ ...
4,4,CORSAIR,2022-12-05 15:07:58+00:00,1,0,@Whitney_Gebhart Hi Whitney! Could you send @C...

In [7]:
df.describe()

       Unnamed: 0  Tweet Likes    Retweets
count  120.000000   120.000000  120.000000
mean    59.500000    94.691667   18.558333
std     34.785054   265.053532   75.604543
min      0.000000     0.000000    0.000000
25%     29.750000     0.000000    0.000000
50%     59.500000    14.000000    1.000000
75%     89.250000    50.000000    7.000000
max    119.000000  1883.000000  751.000000

In [8]:
df.shape

(120, 6)